header {
  background-color: var(--main-color);
  padding: 10px 0;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  color: var(--white);
  font-size: 1.25rem;
  transition: all 0.3s ease;
}

header a:hover,
header a.active {
  opacity: 0.7;
}

header .logo a {
  font-weight: bold;
  font-size: 1.4rem;
}

header ul {
  display: flex;
  align-items: center;
}

header ul li {
  display: inline-block;
  margin-right: 30px;
}

header ul li:last-child {
  margin-right: 0;
}

@media (max-width: 575px) {
  header ul li {
    margin: 0 5px;
  }
}
