.watched {
  padding: 30px 0;
}

.watched .no-movies {
  color: var(--primary-color);
  opacity: 0.3;
  font-weight: bold;
  font-size: 35px;
  word-spacing: -8px;
  text-align: center;
}

.watched .main-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .watched .main-heading h1 {
    font-size: 16px;
  }
}

.watched h1 {
  color: var(--primary-color);
  word-spacing: -5px;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 30px;
}
